<template>
  <div class="Navbar">
    <Tabs :tabData="tabData" />
  </div>
</template>

<script>
import Tabs from "./Tabs";

export default {
  name: "DefaultNavbar",
  components: { Tabs },
  data() {
    return {
      tabData: ["about", "portfolio"]
    };
  }
};
</script>

<style lang="scss" scoped>
@import "~assets/css/global.scss";

.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  height: 45px;
  background-color: $white;
  font-weight: 600;
  padding-left: 240px;
  position: relative;
  background-color: $offwhite;

  @media only screen and (max-width: 600px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}
</style>
