<template>
  <div class="Avatar">
    <img
      src="https://gitlab.com/uploads/-/system/user/avatar/2389790/avatar.png"
      alt="Gitlab User Image"
    />
    <div class="body">
      <div class="name">Michael Farrell</div>
      <div class="location">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        Philadelphia, PA
      </div>
      <div class="links">
        <a
          href="https://www.linkedin.com/in/michael-farrell-a4008986/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="fa fa-linkedin-square" aria-hidden="true"></i>
          LinkedIn
        </a>
        <a href="https://gitlab.com/Mikeysax" target="_blank" rel="noopener noreferrer">
          <i class="fa fa-gitlab" aria-hidden="true"></i>
          Gitlab
        </a>
        <a href="https://angel.co/mikeysax" target="_blank" rel="noopener noreferrer">
          <i class="fa fa-angellist" aria-hidden="true"></i>
          AngelList
        </a>
        <a href="https://twitter.com/MichaelMFarrell" target="_blank" rel="noopener noreferrer">
          <i class="fa fa-twitter" aria-hidden="true"></i>
          Twitter
        </a>
        <a
          href="mailto:michaelmerrittfarrell@gmail.com?Subject=Hello"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
          Email
        </a>
        <a
          href="https://docs.google.com/document/d/1MajY16R0F-J1Mv6L-DP_-CqqMggdQIi5k2vMvbL9Ayw/edit?usp=sharing"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="fa fa-file-text-o" aria-hidden="true"></i>
          Resume
        </a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "DefaultAvatar",
};
</script>

<style lang="scss" scoped>
@import "~assets/css/global.scss";

.Avatar {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  position: fixed;
  top: 100px;
  z-index: 2;
  transition: all 0.3s ease-in;
  box-shadow: 0 1px 5px $shadow;
  border: 1px solid $border;
  border-radius: 6px;
  padding: 10px;
  background-color: $white;

  @media only screen and (max-width: 900px) {
    top: 10px;
  }
  @media only screen and (max-width: 600px) {
    position: relative;
    flex-direction: row;
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-bottom: 20px;
    position: relative;
  }

  > img {
    width: 200px;
    height: auto;
    border-radius: 6px;
    @media only screen and (max-width: 375px) {
      margin-top: 7px;
    }
  }

  > .body {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 200px;
    position: relative;
    @media only screen and (max-width: 600px) {
      width: 100%;
      padding-left: 10px;
    }

    > .name {
      font-size: 28px;
      font-weight: 800;
      white-space: nowrap;
      @media only screen and (max-width: 600px) {
        font-size: 18px;
      }
    }

    > .location {
      @media only screen and (max-width: 600px) {
        font-size: 14px;
      }

      > .fa-map-marker {
        color: #db3236;
      }
    }

    > .links {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      border-top: 1px solid $border;
      margin-top: 10px;
      padding-top: 10px;
      position: relative;
      width: 100%;
      @media only screen and (max-width: 600px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      > a {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        padding: 5px;
        text-transform: none;
        white-space: nowrap;
        flex: 1;
        width: 100%;
        @media only screen and (max-width: 600px) {
          flex-basis: 33%;
          font-size: 14px;
        }
        @media only screen and (max-width: 375px) {
          font-size: 12px;
          padding: 0;
        }

        &:hover {
          background-color: $hover;
        }

        > .fa {
          margin-right: 5px;
        }

        > .fa-linkedin-square {
          color: #0084bf;
        }

        > .fa-twitter {
          color: #1da1f2;
        }
      }
    }
  }
}
</style>
