<template>
  <div class="PortfolioCard">
    <div class="name">{{ name }}</div>
    <div class="description">{{ descriptionText }}</div>
    <div class="bottom">
      <a v-if="repoURL" :href="repoURL" target="_blank" rel="noopener noreferrer">View Code</a>
      <a v-if="demoURL" :href="demoURL" target="_blank" rel="noopener noreferrer">{{ demoURLText }}</a>
    </div>
  </div>
</template>

<script>
export default {
  name: "PortfolioCard",
  props: ["name", "description", "repoURL"],
  computed: {
    descriptionText: function () {
      return this.description ? this.description.split("Website:")[0] : "";
    },
    demoURL: function () {
      return this.description ? this.description.split("Website:")[1] : "";
    },
    demoURLText: function () {
      return this.demoURL.match(/npm/i) ? "View NPM" : "Live Demo";
    },
  },
};
</script>

<style lang="scss" scoped>
@import "~assets/css/global.scss";

.PortfolioCard {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 10px;
  padding: 10px;
  border-radius: 6px;
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 1px 5px $shadow;
  border: 1px solid $border;
  background-color: $white;

  &:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

    > a {
      background-color: $hover;
    }
  }

  @media only screen and (max-width: 600px) {
    margin: 0;
    margin-top: 10px;
  }

  > .name {
    font-weight: 600;
    font-size: 20px;
    text-transform: capitalize;
  }

  > .description {
    font-size: 14px;
    color: $fade;
    width: 100%;
  }

  > .bottom {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    padding-top: 10px;
    margin-top: 10px;

    > a {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: row;
      font-size: 14px;
      font-weight: 600;
      transition: all 0.3s ease-in;
      text-decoration: underline;
      padding: 5px;
      border-radius: 3px;
      padding: 2.5px 5px;
      font-weight: bold;
      font-size: 16px;
      margin: 5px;
      transition: all 0.3s ease-in;
      position: relative;
      overflow: hidden;
      z-index: 3;
      border-radius: 6px;
      background-color: $white;
      color: $fade;

      &:hover {
        background-color: $hover;
        color: #333;
      }
    }
  }
}
</style>
