<template>
  <nuxt-link :class="tabClass" :to="pathURL">
    {{ name }}
    <!-- <span v-if="false" class="count">{{ 0 }}</span> -->
  </nuxt-link>
</template>

<script>
export default {
  name: 'Tab',
  props: ['name'],
  computed: {
    path: function() {
      return this.$route.path;
    },
    pathURL: function() {
      if (this.name === 'about') return '/';
      else return this.name;
    },
    currentTab: function() {
      if (this.path === '/') return 'about';
      else return this.path.substr(1);
    },
    tabClass: function() {
      return this.currentTab === this.name ? 'Tab -selected' : 'Tab';
    }
  }
};
</script>

<style lang="scss" scoped>
@import '~assets/css/global.scss';

.Tab {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  font-size: 16px;
  color: $fade;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  cursor: pointer;
  text-transform: capitalize;
  @media only screen and (max-width: 600px) {
    font-size: 14px;
  }

  &:hover {
    background: $hover;
    border-bottom: 3px solid $hover;

    > .count {
      border: 1px solid $black;
      color: $black;
      opacity: 0.7;
    }
  }

  &.-selected {
    transition: all 0.3s ease;
    font-weight: bold;
    border-bottom: 3px solid $cyan;
    color: $black;
  }

  &.-selected:hover {
    background: $hover;
    > .count {
      border: 1px solid $black;
      color: $black;
      opacity: 0.7;
    }
  }

  &.-darker {
    &:hover {
      background: darken($hover, 10%);
      border-bottom: 3px solid darken($hover, 10%);

      > .count {
        border: 1px solid $black;
        color: $black;
        opacity: 0.7;
      }
    }

    &.-selected {
      transition: all 0.3s ease;
      font-weight: bold;
      border-bottom: 3px solid $cyan;
    }

    &.-selected:hover {
      background: darken($hover, 10%);

      > .count {
        border: 1px solid $black;
        color: $black;
        opacity: 0.7;
      }
    }
  }

  > .count {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    opacity: 0.8;
    text-align: center;
    margin-left: 3px;
    margin-right: 2.5px;
    font-size: 10px;
    border: 1px solid $border;
    font-weight: lighter;
    padding-left: 2.5px;
    padding-right: 2.5px;
    margin-top: 3.5px;
  }
}
</style>
