<template>
  <div class="Tabs">
    <Tab v-for="(name, index) of tabData" :key="index" :name="name" />
  </div>
</template>

<script>
import Tab from "./Tab";

export default {
  name: "Tabs",
  props: ["tabData"],
  components: {
    Tab
  }
};
</script>

<style lang="scss" scoped>
@import "~assets/css/global.scss";

.Tabs {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  transition: all 0.3s ease 0s;
  width: 100%;
  border-bottom: 1px solid $border;
}
</style>
