$cyan: #57b5c9;
$dark-cyan: #30909d;
$red: #c95858;
$dark-red: #9d3030;
$purple: #7d5ac9;
$dark-purple: #693cc9;
$orange: #eb9956;
$green: #5cc991;
$grey: #9d9d9d;
$border: rgba(0, 0, 0, 0.3);
$shadow: rgba(0, 0, 0, 0.1);
$button-border: #aaaaaa;
$white: #fff;
$offwhite: #f4f4f4;
$black: #24292e;
$videoControls: rgba(0, 0, 0, 0.4);
$hover: #f0f0f0;
$form: #fcfcfc;
$button: #eee;
$fade: #797f7f;
$fadehover: #5d6060;

.page-enter-active,
.page-leave-active {
  transition: opacity 0.25s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
