<template>
  <div class="Main">
    <DefaultAvatar />
    <DefaultNavbar />
    <nuxt />
  </div>
</template>

<script>
import DefaultAvatar from "../components/DefaultAvatar";
import DefaultNavbar from "../components/DefaultNavbar";

export default {
  components: { DefaultAvatar, DefaultNavbar },
};
</script>

<style lang="scss">
@import "~assets/css/global.scss";

// CSS RESET
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
form,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button:focus {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}
// CSS RESET END

html,
body,
#__nuxt {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu,
    Cantarell, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.5;
  color: #333333;
  word-wrap: break-word;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: $offwhite;
}

.Main {
  position: relative;
  transition: all 0.3s ease-in;
  @media only screen and (min-width: 600px) {
    padding: 10px;
  }
  @media only screen and (min-width: 900px) and (max-width: 1399px) {
    padding-top: 100px;
    padding-left: 10%;
    padding-right: 10%;
  }
  @media only screen and (min-width: 1400px) and (max-width: 1699px) {
    padding-top: 100px;
    padding-left: 15%;
    padding-right: 15%;
  }
  @media only screen and (min-width: 1700px) and (max-width: 1899px) {
    padding-top: 100px;
    padding-left: 20%;
    padding-right: 20%;
  }
  @media only screen and (min-width: 1800px) and (max-width: 1999px) {
    padding-top: 100px;
    padding-left: 25%;
    padding-right: 25%;
  }
  @media only screen and (min-width: 2000px) {
    padding-top: 100px;
    padding-left: 30%;
    padding-right: 30%;
  }
}

.Page {
  padding-left: 240px;
  padding-top: 10px;
  position: relative;
  @media only screen and (max-width: 600px) {
    padding: 10px;
  }

  > .fa {
    margin-right: 5px;
  }

  > input {
    position: relative;
    border: 1px solid $border;
    border-radius: 3px;
    padding: 5px;
    width: 100%;
    transition: all 0.3s ease-in-out;
    box-shadow: inset 0 1px 3px $shadow;
    @media only screen and (max-width: 600px) {
      width: 100%;
      margin: 0;
    }
    &:focus {
      border-color: $cyan;
    }
  }
}

a {
  color: $black;
  text-decoration: none;
}
</style>
