<template>
  <div class="Page">
    <p>Hello, and welcome!</p>
    <br />
    <p>
      I am a web developer and engineer with expertise and proficiencies in a
      variety of tech with a focus in JavaScript and Ruby.
    </p>
    <br />
    <p>
      As an individual, I am drawn to and actively seek meaningful opportunities
      where I can learn, evolve, and contribute to objectives that are bigger
      than myself.
    </p>
    <br />
    <p>
      Some specific languages, frameworks, technologies, and skills that I'm
      proficient in and with include:
    </p>
    <div class="skills">
      <a
        v-for="({ name, url }, index) of technologies"
        :key="index"
        class="skill"
        :href="url"
        target="_blank"
        rel="noopener noreferrer"
      >{{ name }}</a>
    </div>
  </div>
</template>

<script>
export default {
  name: "About",
  data() {
    return {
      technologies: [
        {
          name: "HTML",
          url: "https://www.w3schools.com/html/",
        },
        {
          name: "CSS",
          url: "https://developer.mozilla.org/en-US/docs/Web/CSS",
        },
        { name: "SCSS", url: "http://sass-lang.com/" },
        { name: "RSCSS", url: "http://rscss.io/" },
        { name: "Ruby", url: "https://www.ruby-lang.org/en/" },
        { name: "Rails", url: "http://rubyonrails.org/" },
        {
          name: "JavaScript",
          url: "https://developer.mozilla.org/en-US/docs/Web/javascript",
        },
        {
          name: "ES6 / ES7",
          url:
            "https://en.wikipedia.org/wiki/ECMAScript#6th_Edition_-_ECMAScript_2015",
        },
        { name: "jQuery", url: "https://jquery.com/" },
        { name: "Electron", url: "https://electronjs.org/" },
        { name: "Node", url: "https://nodejs.org/en/" },
        { name: "Express", url: "https://expressjs.com/" },
        { name: "React", url: "https://reactjs.org/" },
        {
          name: "React Native",
          url: "https://facebook.github.io/react-native/",
        },
        {
          name: "NextJS",
          url: "https://nextjs.org/",
        },
        { name: "Redux", url: "https://redux.js.org/" },
        {
          name: "LiteralJS",
          url: "https://literaljs.com",
        },
        { name: "Vue", url: "https://vuejs.org/" },
        { name: "Vuex", url: "https://vuex.vuejs.org/en/intro.html" },
        { name: "Nuxt", url: "https://nuxtjs.org" },
        { name: "Ember", url: "https://emberjs.com/" },
        {
          name: "Bash",
          url: "https://en.wikipedia.org/wiki/Bash_%28Unix_shell%29",
        },
        {
          name: "PHP",
          url: "https://secure.php.net/",
        },
        // {
        //   name: "C#",
        //   url:
        //     "https://en.wikipedia.org/wiki/C_Sharp_%28programming_language%29"
        // },
        // {
        //   name: "ASP.NET",
        //   url: "https://en.wikipedia.org/wiki/ASP.NET"
        // },
        { name: "Sequelize", url: "https://sequelize.readthedocs.io" },
        { name: "PostgreSQL", url: "https://www.postgresql.org/" },
        { name: "MySQL", url: "https://www.mysql.com/" },
        { name: "MariaDB", url: "https://mariadb.org/" },
        { name: "Mongoose", url: "http://mongoosejs.com/" },
        { name: "MongoDB", url: "https://www.mongodb.com/" },
        { name: "Firebase", url: "https://firebase.google.com/" },
        { name: "Webpack", url: "https://webpack.js.org/" },
        { name: "RSpec", url: "http://rspec.info/" },
        { name: "Mocha", url: "https://mochajs.org/" },
        { name: "Jest", url: "https://facebook.github.io/jest/" },
        { name: "Enzyme", url: "http://airbnb.io/enzyme/" },
        { name: "Capybara", url: "https://github.com/teamcapybara/capybara" },
        {
          name: "APIs",
          url:
            "https://en.wikipedia.org/wiki/Application_programming_interface",
        },
        { name: "AWS", url: "https://aws.amazon.com/" },
        {
          name: "Test Driven Development",
          url: "https://en.wikipedia.org/wiki/Test-driven_development",
        },
        {
          name: "Authentication",
          url: "https://en.wikipedia.org/wiki/Authentication",
        },
        {
          name: "Web Sockets",
          url: "https://en.wikipedia.org/wiki/WebSocket",
        },
        {
          name: "Godot",
          url: "https://godotengine.org/",
        },
        {
          name: "GDScript",
          url:
            "https://docs.godotengine.org/en/3.0/getting_started/scripting/gdscript/gdscript_advanced.html",
        },
        {
          name: "Python",
          url: "https://www.python.org/",
        },
        {
          name: "UX / UI Design",
          url: "https://hackernoon.com/what-is-ui-ux-design-1f01e9dbbf02",
        },
        {
          name: "Pixel Art / Animation",
          url: "https://www.aseprite.org/",
        },
        { name: "Linux", url: "https://en.wikipedia.org/wiki/Linux" },
        {
          name: "Windows",
          url: "https://en.wikipedia.org/wiki/Microsoft_Windows",
        },
        {
          name: "MacOS",
          url: "https://en.wikipedia.org/wiki/Macintosh_operating_systems",
        },
        { name: "Teaching", url: "https://en.wikipedia.org/wiki/Teacher" },
        { name: "Music", url: "https://www.youtube.com/watch?v=EAdkVGxB13U" },
      ],
    };
  },
};
</script>

<style lang="scss">
@import "~assets/css/global.scss";

.skills {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  transition: all 0.3s ease-in;

  > .skill {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    white-space: nowrap;
    background-color: $white;
    padding: 2.5px 5px;
    font-weight: bold;
    font-size: 16px;
    margin: 5px;
    transition: all 0.3s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 3;
    border-radius: 6px;
    box-shadow: 0 1px 5px $shadow;
    border: 1px solid $border;

    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 51%;
      right: 51%;
      bottom: 0;
      background: $cyan;
      height: 30px;
      transition-duration: 0.1s;
      transition-timing-function: ease-out;
      z-index: -1;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    }

    &:after {
      top: 0;
    }

    &:hover,
    &:focus,
    &:active {
      color: $white;

      &:before,
      &:after {
        left: 0;
        right: 0;
      }
    }
  }
}
</style>
