<template>
  <div class="Page">
    <input ref="filter" type="text" v-model="query" placeholder="Filter By Name or Description">
    <PortfolioCard v-for="(repo, index) of repoData" :key="index"
      :name="repo.name"
      :description="repo.description"
      :demoURL="repo.demoURL"
      :repoURL="repo.repoURL"
    />
  </div>
</template>

<script>
import axios from 'axios';
import PortfolioCard from '../components/PortfolioCard';

export default {
  async asyncData({ params }) {
    let { data } = await axios({
      url: 'https://gitlab.com/api/v4/users/mikeysax/projects',
      method: 'get'
    }).catch(e => console.error(e));
    data = data
      .sort(
        (a, b) =>
          new Date(a.last_activity_at) > new Date(b.last_activity_at) ? -1 : 1
      )
      .map(({ name, description, web_url }) => ({
        name,
        description,
        repoURL: web_url
      }));

    return { repos: data };
  },
  name: 'Portfolio',
  components: { PortfolioCard },
  data() {
    return {
      repos: [],
      query: ''
    };
  },
  mounted() {
    this.$refs.filter.focus();
  },
  computed: {
    repoData: function() {
      if (this.query)
        return this.repos.filter((repo, index) => {
          const { name, description } = repo;
          const regEx = new RegExp(this.query, 'i');
          if (name.match(regEx) || (description && description.match(regEx))) {
            return repo;
          }
        });
      else return this.repos;
    }
  }
};
</script>

<style lang="scss">
</style>
